header {
  background: darkorchid;
  padding: 0px 2px;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

header, h1 {
  margin: 0px 0px 10px 0px;
}

a.title {
  color: white;
  text-decoration: none;
}
